@charset "UTF-8";

:root { 
	--background-color-1: salmon; 
	--background-color-2: white; 
	--text: black; 
	--linkDark: salmon; 
	--linkLight: white; 
	--disabled: lightgrey;
}

* {
   	font-family: 'Varela Round', sans-serif;
}

body {
	margin: 0;
	padding: 0;

}

main {
	width: 100%;
	padding-bottom: 40px;
	background-color:var(--background-color-2);
}

header{
	background-color:var(--background-color-1);
	height:10em;
	margin-bottom:1em;
	color:var(--linkLight);
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
/* unvisited link */
a:link {
	color: var(--linkLight);
	text-decoration: none;
}
main a:link {
	color: var(--linkDark);
}

/* visited link */
a:visited {
	color: var(--linkLight);
}
main a:visited {
	color: var(--linkDark);
}

/* mouse over link */
a:hover {
	color: var(--linkLight);
}
main a:hover {
	color: var(--linkDark);
}

/* selected link */
a:active {
	color: var(--linkLight);
}
main a:active {
	color: var(--linkDark);
}
footer a{
	margin:10px;
}

.page-title{
	margin:0;
	font-size:2rem;
}
	
.main-wrapper{
	width:100%;
	margin:auto;

}
.flex-box{
	display : flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
.flex-box-center{
		display : flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.first-page-button{
	background-color:var(--background-color-2);
	font-weight:bold;
	height:5em;
	width:190px;
	border-radius: 1em;
	margin:1em;
	border:none;
	box-shadow:  3px 3px 3px grey, -3px 0 .4em lightgrey;
	padding:10px;
	
}

.list-container{
	width:45%;
	margin:1em;
	text-align:center;
}
.form-wrapper{
  text-align:center;
  margin-bottom:1em;
}
input{
	margin:10px;
	padding:5px;
}
textarea{
	width:250px;
	height:80px;
	margin:10px;
	padding:5px;
}
label textarea{
        vertical-align: middle;
    }
table{
	margin: 0 auto;
}
footer {
	background-color:salmon;
	position: relative;
	bottom: 10px;
	width: 100%;
	height: 40px;
	padding: 0 5px;
	margin-top:10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-msg{
	color:red;
}

 @media screen and (min-width: 660px) {
	.page-title{
		font-size:5em;
	}
}
@media screen and (min-width: 410px) and (max-width: 659px){
		.page-title{
				font-size:3em;
			}
	} 